<div>
  <form id="loginForm">
    <input type="email" id="email" name="email" />
    <input type="password" id="password" name="password" />
    <input type="submit" id="submitLogin" />
  </form>
  <a href="/api/sessions/github"><button>login con github</button></a>
  <a href=""><button>recuperar contraseña</button></a>
  <p>No tienes cuenta?<a href="/register">ingresa aqui</a></p>
  <p>olvidaste tu contraseña?<a href="/password-link">ingresa aqui</a></p>
</div>
<script src="/js/login.js"></script>