<div>
    <form action="/api/messages" method="post">
    <input type="email" name='user' id="user" placeholder="email"/>
    <input type="text" name='message' id="message" placeholder="..."/>
    <input type="submit" id="submit">
    <div class="container"></div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>