<section>
    <h1>add products</h1>
    <form action="/api/products" method="post">
        <div>
        <label>title</label>
        <input type="text" name='title'/>
    </div>
    <div>
        <label>description</label>
        <input type="text" name='description'/>
    </div>
    <div>
        <label>code</label>
        <input type="text" name='code'/>
    </div>
    <div>
        <label>price</label>
        <input type="text" name='price'/>
    </div>
    <div>
        <label>stock</label>
        <input type="text" name='stock'/>
    </div>
    <div>
        <label>category</label>
        <input type="text" name='category'/>
    </div>
    <input type="submit" id="submit"/>
    </form>

    <h1>products</h1>
    <div id="productsContainer">
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>