<section>
    <h1>add products</h1>
    <form action="/api/products" method="post" id="addProducts">
        <div>
        <label>title</label>
        <input type="text" name='title'/>
    </div>
    <div>
        <label>description</label>
        <input type="text" name='description'/>
    </div>
    <div>
        <label>code</label>
        <input type="text" name='code'/>
    </div>
    <div>
        <label>price</label>
        <input type="number" name='price'/>
    </div>
    <div>
        <label>stock</label>
        <input type="number" name='stock'/>
    </div>
    <div>
        <label>category</label>
        <input type="text" name='category'/>
    </div>
    <input type="submit" id="submitAdd"/>
    </form>

    <h1>delete products</h1>
    <input type="number" id="inputId" name="id" placeholder="id product.." min="1">
    <input type="submit" id="submitDelete">
    <h1>products</h1>
    <div id="productsContainer">
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>