<form id="reset-password-form">
<h2>ingrese la nueva contraseña</h2>
<h3 id="email-reset-password">{{user.email}}</h3>
<input type="password" id="password-reset" name="password" />
<input type="submit">
</form>
<script src="/js/passwordReset.js"></script>