<div>
    <form id="registerForm" action="/api/sessions/register" method="post">
    <input type="text" id="firstName" name="first_name">
    <input type="text" id="lastName" name="last_name">
    <input type="email" id="email" name="email">
    <input type="number" id="age" name="age">
    <input type="password" id="password" name="password" >
    <input type="submit" id="submit">
    </form>
    <p>Ya tienes cuenta?<a href="/login">ingresa aqui</a></p>
</div>
<script src="/js/register.js"></script>